/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Outfit:wght@100..900&display=swap')

/* Override of defaul selectors*/
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* Styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Style for the main project*/
    color: black;
    font-family: 'Hind', sans-serif;
}

/* Top Of Page */
header {

}

/*Main Section */
main{

    flex: 1 0 auto;
}