/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Outfit:wght@100..900&display=swap')

/* Override of defaul selectors*/
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* Styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Style for the main project*/
    color: black;
    font-family: 'Hind', sans-serif;
}

/* Top Of Page */
header {
background-color: aqua;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: 1.5px 3px 3px;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: capitalize;
    font-family: 'Outfit', sans-serif;
    color:rgb(219, 127, 255);
}

/*Main Section */
main{

    flex: 1 0 auto;
}