/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Outfit:wght@100..900&display=swap')

/* Override of defaul selectors*/
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* Styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Style for the main project*/
    color: black;
    font-family: 'Hind', sans-serif;
}

/* Top Of Page */
header {
background-color: aqua;
position: fixed;
display: flex;
justify-content: space-between;
align-items: baseline;
z-index: 99;
width: 100%;
box-shadow: 1.5px 3px 3px;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: capitalize;
    font-family: 'Outfit', sans-serif;
    color:rgb(219, 127, 255);
    font-size: 300%;
}

#navigation {
    font-weight: 300;
    letter-spacing: 3.5px;
    font-size: x-large;
    list-style-type: none;
}

#navigation > li {
    margin-bottom: 2rem;
    color:rgb(255, 127, 180);
    font-variant: small-caps;
}

.active {
    border-bottom: 1px dotted purple;
    
}


/*Main Section */
main{
    margin-top: 140px;
    flex: 1 0 auto;
}

/*Devices 992px and up*/
@media screen and (min-width:992px) {
    #navigation a:hover {
        border-bottom: 2px dashed black;
    }
    
}


/* Footer of page */
footer {

}

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #navigation {
        display: flex;

    }

    #navigation > li {
        padding-left: 2rem;
    }
}
